@{
    ViewData["Title"] = "Home Page";
}


<div class="row w-100">
    <div class="offset-6 text-center home-page text-white p-5">
        <h1>Welcome to BankManagementSystem</h1>
        <h5 class="p-4">
            Bank Management System is an open source ASP.NET CORE based web application with a user-friendly
            UI developed to assist clients of a bank to manage their financial resources, credit cards, transactions,
            financial assets and credits.
        </h5>
        <p>Login or register to explore our services</p>
    </div>
</div>