@{
    ViewData["Title"] = "Home Page";
}

<div class="row w-100">
    <div class="offset-md-5 col-md-6 text-center text-white home-page">
        <h1>Welcome to BankManagementSystem</h1>
        <h5>
            Bank Management System is an open source ASP.NET CORE based web application developed for educational purposes and to highlight .NET Core features.
            The goal of the app is to assist clients of a bank to manage their financial assets, credit cards, transactions, and credits.
        </h5>
        <p>Login or register to explore the application.</p>
    </div>
</div>