@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>We want you to understand how and why BankManagementSystem, Inc. (“BankManagementSystem,” “we” or “us”) collects, uses, and shares information about you when you use our website, widgets, and other online products and services (collectively, the "Services") or when you otherwise interact with us or receive a communication from us. This Privacy Policy applies to all of our Services, which maintains a separate privacy notice that incorporates this Privacy Policy by reference.</p>
</div>