@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="container register-form">
    <h1>@ViewData["Title"]</h1>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h4>Create a new account.</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" placeholder="Enter Email Address" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Username"></label>
            <input asp-for="Input.Username" placeholder="Enter Username" class="form-control" />
            <span asp-validation-for="Input.Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.FullName"></label>
            <input asp-for="Input.FullName" placeholder="Enter Full Name" class="form-control" />
            <span asp-validation-for="Input.FullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" placeholder="Enter Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" placeholder="Confirm Your Password" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group form-check text-center">
            <div class="col-12">
                <label asp-for="Input.IsAdministrator" class="form-check-label"></label>
            </div>
            <div class="col-12">
                <input type="checkbox" checked asp-for="Input.IsAdministrator" class="form-check-input" />
                <span asp-validation-for="Input.IsAdministrator" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-warning mt-3">Register</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
