@page
@model BankManagementSystem.Web.Pages.Credit.CreateModel

@{
    ViewData["Title"] = "Credit";
}

<div class="row w-100 m-0">
    <div class="offset-md-6 col-md-5 container w-100">
        <h1>Credit</h1>
        <hr class="hr-2" />
        <form method="post">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Input.FinancialResourceAmount">Financial Resource Amount</label>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input asp-for="Input.FinancialResourceAmount" type="number" required placeholder="Enter amount..." class="form-control form-control-lg" />
                    </div>
                    <span asp-validation-for="Input.FinancialResourceAmount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PercentInterest">Percent Interest</label>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">%</span>
                        </div>
                        <input asp-for="Input.PercentInterest" type="number" required placeholder="Enter percent interest (0-100)" class="form-control form-control-lg" />
                    </div>
                    <span asp-validation-for="Input.PercentInterest" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PaymentPeriodYears">Debt Payment Period</label>
                    <input asp-for="Input.PaymentPeriodYears" type="number" required placeholder="Enter period (1-10)" class="form-control form-control-lg" />
                    <span asp-validation-for="Input.PaymentPeriodYears" class="text-danger"></span>
                </div>
                <hr />
                <div>
                    <input type="submit" value="Create Credit" class="btn btn-warning btn-lg btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>
    @section Scripts
        {
        <partial name="_ValidationScriptsPartial" />
    }
