@page

<div class="row w-100 m-0">
    <div class="col-md-5 pb-5 container w-100">
        <div class="text-center">
            <br><br> <h2 style="color:#0fad00">Success</h2>
            <h4>You successfully got a Credit</h4>
            <a asp-area="" asp-page="/Credit/Index" class="btn btn-success">View Credits</a>
        </div>
    </div>
</div>
