@page
@{
    ViewData["Title"] = "Success";
}

<div class="row w-100 m-0">
    <div class="col-md-5 pb-5 container w-100">
        <div class="text-center">
            <br><br> <h2 style="color:#0fad00">Success</h2>
            <h4 class="mb-5">Your deposit was successful.</h4>
            <a asp-controller="Home" asp-action="Index" class="btn btn-success">Back to Home Page</a>
        </div>
    </div>
</div>