@model BankManagementSystem.Common.BindingModels.Asset.CreateAssetBindingModel
@using BankManagementSystem.Models.Enum

@{
    ViewData["Title"] = "Create Asset";
}
<div class="row w-100 m-0">
    <div class="offset-md-6 col-md-5 container w-100">
        <h2>Create Asset</h2>
        <hr class="hr-2" />
        <form method="post">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" type="text" required placeholder="Asset name..." class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MonetaryValue">Monetary Value</label>
                    <input asp-for="MonetaryValue" type="number" required placeholder="Enter Asset Price..." class="form-control form-control-lg" />
                    <span asp-validation-for="MonetaryValue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AssetCategory" class="d-block">Asset Category</label>
                    <select asp-for="AssetCategory" asp-items="Html.GetEnumSelectList<AssetCategories>()" class="form-control form-control-lg"></select>
                    <span asp-validation-for="AssetCategory" class="text-danger"></span>
                </div>
                <hr />
                <div>
                    <input type="submit" value="Create" class="btn btn-warning btn-lg btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
