<div class="container">
    <div class="text-center">
        <br><br> <h2 style="color:#0fad00">Success</h2>
        <h4>You have successfully purchased an asset.</h4>
        <a asp-controller="Home" asp-action="Index" class="btn btn-success">Back to Home Page</a>
    </div>
</div>
