@if (User.IsInRole(RolesConstants.Administrator))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="Privacy">Create Asset</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="Index">Clients</a>
    </li>
}