@model IEnumerable<CreditCardViewModel>

@{
    ViewData["Title"] = "Registered Cards";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <hr class="hr-2" />
    @if (Model.Count() > 0) { 
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>CVV</th>
                    <th>Expiration Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var card in Model)
                {
                    <tr>
                        <td>@card.Number</td>
                        <td>@card.CVV</td>
                        <td>@card.ExpirationDate</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4><i>There are no credit cards registered yet. Consider registering one yourself.</i></h4>
    }
</div>